.container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.row {
  display: grid;
  grid-template-columns: 137px 1fr;
  gap: 24px;
  text-wrap: nowrap;
  align-self: start;
  position: relative;
}

.defaultTag {
  position: absolute;
  left: -100px;
}

.levels {
  display: flex;
}
