.container {
  padding: 40px;
  font-family: variables.$font-family-text;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #1f2a44;
  margin-bottom: 16px;
  margin-top: 32px;
}

.badgeGroup {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.badge {
  margin-right: 8px;
}

.useCases {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.useCase {
  display: flex;
  align-items: center;
  gap: 16px;
}

.description {
  font-size: 16px;
  color: #1f2a44;
}
