.paragraph {
  font-family: "SF Pro Text", sans-serif;
  font-weight: 400;
  color: #333;
  line-height: 1.5;
}

.paragraph--size-300 {
  font-size: 14px;
  margin-top: 12px;
}

.paragraph--size-400 {
  font-size: 16px;
  margin-top: 12px;
}

.paragraph--size-500 {
  font-size: 18px;
  margin-top: 16px;
}
