.column {
  flex: 1;
  min-width: 250px;
  background-color: #f0f0f0;
  padding: 0px 10px 20px;
  border-radius: 5px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.columnTitle {
  margin-bottom: 10px;
  text-align: center;
  user-select: none;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.taskCard {
  display: flex;
  justify-content: space-between;
}

.deleteIcon {
  cursor: pointer;
  color: red;
  user-select: none;

  &:hover {
    color: darkred;
  }
}
